{% extends "base.html" %}

{% block title %}Marketplace{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='marketplace.css') }}">
{% endblock %}

{% block content %}
<section class="hero small-hero">
<div class="hero-text">
    <h1>Support Local Artisans</h1>
    <p>Browse eco-friendly, handcrafted products from local communities.</p>
</div>
</section>

<section class="marketplace">
{% for id, product in products.items() %}
<div class="product-card">
    <img src="{{ url_for('static', filename=product.image) }}" alt="{{ product.name }}">
    <h2>{{ product.name }}</h2>
    <p>{{ product.description }}</p>
    <span>${{ product.price }}</span>
    <a href="{{ url_for('add_to_cart', product_id=id) }}">
    <button>Add to Cart</button>
    </a>
</div>
{% endfor %}
</section>
{% endblock %}
